<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta type="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

  <body>
    <ul>
      {% for p in platforms %}
      <li>
        <a href="/games/{{ p.id }}">{{ p.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
